body{
    text-align: center;
}
.pagi{
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;

}
.pagi a{ 
    color: hsl(0, 10%, 74%);
    text-decoration: none;
    padding: 8px 20px;
    display: inline-lock;
    margin-top: 15px;

}
.pagi a.active{
    font-weight:bolder;
    border-radius: 20%;
}
.pagi a:hover{
    background-color: hsl(0, 2%, 56%);
    border-radius: 5px;

}

.header {
    overflow: hidden;
    padding: 20px 15px;
}
#pic{
    text-align: center;

}

body {
    margin: 0;
    background-color: hsl(0, 0%, 32%);
}
footer {
    background-color: hsl(0, 0%, 24%);
    border: 15px 
}

#SignIn {

    background-color: blanchedalmond;
    color: hsl(0, 2%, 27%);
    display: grid;

}

#hyp {
    color: beige;
    text-decoration: none;
}
.paragraph{
   padding: 10px;
}

.dark-mode {
    background-color: black;
    color: whitesmoke;
}

.light {
    background-color: hsl(0, 0%, 0%);
    border-radius: 10px;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
}
.light:hover{
    background-color: hsl(0, 3%, 53%);
    cursor: pointer;
}

.titles {
padding: 5px;
border: 2px dashed;

}
.lists{
    text-decoration: none;
    list-style: none;
    padding: 5px 5px;
}

.navigation ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 15%);
    padding:0;
    overflow: hidden;
}
.navigation a{
    color: hsl(0, 0%, 32%);
    text-decoration: none;
    display: block;
    padding: 20px;

}
.navigation a:hover{
    background-color: hsl(0, 0%, 0%);
}
.navigation li{
   float: left;
}
.gallery{
    display:inline-block;
    border: 1px ;
    margin: 5px;  
    display: flex; 
}
.gallery img{
    width: 40%;
    height: 40%;
    display: flex;

}

 
 @media only screen and (max-width: 600px) {
    .cf7_custom_style_1 {
       padding-left: 0;
       padding-right: 0;
    }
 }
 